html, body {
    margin: 0;
    padding: 0;
    font-family: 'Comic Neue';
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
    border: 1px solid black;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffccab;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ff723b;
}